<div class="flex">
    <div>
        <a routerLink="/">
            <img id="logo" src="../../assets/Logo_au petit village.jpg" alt="Logo Au Petit Village"/>
        </a>
        <img id="navBurger" src="../../assets/bars-solid.svg" alt="Menu" (click)="openNavMobile()"/>
    </div>
    <nav class="flex" *ngIf="mobile == false || isOpen == true">
        <a routerLink="/apropos" routerLinkActive="isActive">À propos</a>
        <a routerLink="/contact" routerLinkActive="isActive">Contact</a>
    </nav>
</div>

