.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactBloc{
    text-align: center;
    margin: 20px 0;
}
.contactBloc p{
    margin: 5px 0;
}
.contactBloc a{
    text-decoration: none;
    color:var(--red);
    font-weight: 900;
}
.contactBloc a:hover{
    color:var(--black);
}  
@media screen and (min-width: 576px)
{
    .content{
        flex-direction: row;
    }
    .contactBloc{
        text-align: left;
        margin: 40px 0;
    }
}