<div class="filters">
    <app-bouton btnText="Prix Croissants" [isOrder]='isOrder' (click)="sortOrderPrices()"></app-bouton>
    <app-bouton btnText="Prix Décroissants" [isOrder]='isUnorder' (click)="sortUnorderPrices()"></app-bouton>
</div>
<ul>
    <li *ngFor="let product of ( products | sortByPrice:order ); index as i" class="product item{{i+1}}">
        <a [routerLink]="['/produit', product.slug ]">
        <div class="produit">
            <img src="{{ product.image }}" alt="Figurine du personnage {{ product.name }}"/>
            <h3>{{ product.name }}</h3>
            <p class="prix">{{ product.price }} €</p>
        </div>
        </a>
    </li>
</ul>